:root {

	/* Primary */
	--byu-navy: #002e5d;
	--byu-white: #fff;

	/* Secondary */
	--byu-royal: #0062b8;
	--byu-royal-medium: #5199e1;
	--byu-royal-light: #afd6fe;

	/* Greys */
	--byu-grey-darkest: #141414;
	--byu-grey-dark: #666;
	--byu-grey-medium-dark: #8f8f8f;
	--byu-grey-medium: #c5c5c5;
	--byu-grey-medium-light: #e6e6e6;
	--byu-grey-light: #f4f4f4;
    --byu-grey-lightest: #fafafa;

	/* Fonts */
	--ringside-ssm: "HCo Ringside Narrow SSm", "Arial", sans-serif;
	--public-sans: "Public Sans", "Arial", sans-serif;
}

@font-face {
	font-family: "HCo Ringside Narrow SSm";
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src:
		local("HCo Ringside Narrow SSm Book"),
		local("Ringside Narrow SSm Book"),
		url(fonts/RingsideNarrowSSm-Book.woff2) format("woff2");
}

@font-face {
	font-family: "HCo Ringside Narrow SSm";
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	src:
		local("HCo Ringside Narrow SSm Bold"),
		local("Ringside Narrow SSm Bold"),
		url(fonts/RingsideNarrowSSm-Bold.woff2) format("woff2");
}

@import url('https://fonts.googleapis.com/css2?family=Public+Sans&display=swap');

html {
    height: 100%;
	display: flex;
	flex-direction: column;
}

body {
	flex: 1;
	display: flex;
	flex-direction: column;
}

main {
    height: 100%;
    background-color: var(--byu-grey-light) !important;
    display: flex;
    flex-direction: column;
}

.hidden {
	display: none !important;
	visibility: hidden !important;
}

.navbar-dark {
    background-color: var(--byu-navy) !important;
}

.navbar-brand {
    font-family: var(--ringside-ssm);
    font-weight: 700;
}

#search {
  height: 30px;
}

.mybyu-grid__wrapper {
    display: flex;
    flex-grow: 1;
}

.mybyu-grid {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 20rem auto;
}

.mybyu-grid__aside {
    padding: 3rem 0 2rem;
}

.widget {
	padding: 2rem 1rem;
	background-color: #fff;
	border: 1px solid #dee2e6;
	border-radius: .75rem;
}

/* ---------- CALENDAR ---------- */

table {
	border-collapse: collapse;
	border-spacing: 0;
	cursor: pointer;
	margin: auto;
}

.calendar {
	margin: 1rem 1rem 0 0;
}

.calendar header {
	position: relative;
	text-align: center;
	margin-bottom: .5rem;
}

.calendar h2 {
	margin-bottom: 0;
	font-size: large;
}

.calendar tbody {
	color: #7c8a95;
}

.calendar tbody td:hover {
	border: 2px solid var(--byu-navy);
}

.calendar td {
	border: 2px solid transparent;
	border-radius: 50%;
	display: inline-block;
	height: 2em;
	text-align: center;
	width: 2em;
}

.calendar .prev-month,
.calendar .next-month {
	color: #cbd1d2;
}

.calendar .prev-month:hover,
.calendar .next-month:hover {
	border: 2px solid #cbd1d2;
}

.current-day {
	background: var(--byu-navy);
	color: #f9f9f9;
}

.btn-prev,
.btn-next {
	border: 2px solid #cbd1d2;
	border-radius: 50%;
	color: #cbd1d2;
	height: 2em;
	font-size: .75em;
	line-height: 2em;
	margin: -1em;
	position: absolute;
	top: 50%;
	width: 2em;
}

.btn-prev:hover,
.btn-next:hover {
	background: #cbd1d2;
	color: #f9f9f9;
}

.btn-prev {
	left: 6em;
}

.btn-next {
	right: 6em;
}

.event-list-header {
	border-bottom: 1px solid var(--byu-grey-medium-dark);
	margin: 1rem 0 .75rem;
}

.event {
	display: flex;
	margin-bottom: .75rem;
}

.event-date {
	width: 25%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: var(--byu-grey-light);
	border: 1px solid var(--byu-grey-medium-light);
	border-radius: .25rem;
	margin-right: .75rem;
}

.event-date div {
	text-align: center;
	margin: -0.1rem 0;
}

.day-of-week {
	color: var(--byu-grey-darkest);
}

.date {
	color: var(--byu-navy);
	font-weight: bold;
	font-size: 1.25rem;
}

.time {
	color: var(--byu-grey-darkest);
}

.event-description {
	padding: 1rem 0;
}

/* ------- END OF CALENDAR ------- */

.mybyu-grid__main {
	max-height: 93vh;
    padding: 3rem 0 2rem;
}

.mybyu-grid__main .nav-link {
	font-family: var(--ringside-ssm);
	color: var(--byu-royal);
	cursor: pointer;
}

.mybyu-grid__tab-container {
    height: calc(100% - 4rem);
    background-color: #fff;
	padding: 2rem 1rem;
    border-left: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
	overflow-y: scroll;
}

.mybyu-grid__card-container {
	display: grid;
    grid-template-columns: 1fr 1fr;
	grid-auto-rows: min-content;
	grid-row-gap: 2rem;
    justify-items: center;
    align-items: flex-start;
}

.card {
	height: 100%;
    cursor: pointer;
    transition: box-shadow 0.2s ease-in-out;
}

.card:hover {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.card picture {
    display: flex;
    height: 100%;
    max-height: 190px;
    overflow: hidden;
}

.card picture img {
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: cover;
}

.card-title {
	font-family: var(--ringside-ssm);
}

.card-text {
	font-family: var(--public-sans);
}

.btn-primary {
	font-family: var(--ringside-ssm);
	background-color: var(--byu-navy);
	border-color: var(--byu-navy);
}

.btn-primary:hover {
	background-color: var(--byu-royal);
}

.btn-primary img {
    margin-left: 5px;
    margin-bottom: 2px;
}

@media (min-width: 1400px) {

	.mybyu-grid__card-container {
		grid-template-columns: repeat(3, 1fr);
	}
}